# Multivariate Regression

In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
# Import dataset
dataset = pd.read_csv('cleaned_and_merged_data.csv')
dataset.head()

,Unnamed: 0,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StoreType,Assortment,StateHoliday,SchoolHoliday,StoreType.1,CompetitionDistance,Competition,Promo2
0,0,1,5,2015-07-31,5263,555,1,1,2,0,0,1,2,1270.0,1,0
1,1,2,5,2015-07-31,6064,625,1,1,0,0,0,1,0,570.0,1,1
2,2,3,5,2015-07-31,8314,821,1,1,0,0,0,1,0,14130.0,1,1
3,3,4,5,2015-07-31,13995,1498,1,1,2,2,0,1,2,620.0,1,0
4,4,5,5,2015-07-31,4822,559,1,1,0,0,0,1,0,29910.0,1,0

In [12]:
# Clean dataset
dataset['Date'] = pd.to_datetime(dataset['Date'])
dataset.dtypes
#dataset = dataset.drop(columns="Unnamed: 0")
#dataset.set_index()
dataset['Year'] = pd.DatetimeIndex(dataset['Date']).year
dataset['Month'] = pd.DatetimeIndex(dataset['Date']).month
dataset['Day'] = pd.DatetimeIndex(dataset['Date']).day

In [15]:
dataset = dataset.set_index('Date')
dataset.head()

,Store,DayOfWeek,Sales,Customers,Open,Promo,StoreType,Assortment,StateHoliday,SchoolHoliday,StoreType.1,CompetitionDistance,Competition,Promo2,Year,Month,Day
Date,,,,,,,,,,,,,,,,,
2015-07-31,1,5,5263,555,1,1,2,0,0,1,2,1270.0,1,0,2015,7,31
2015-07-31,2,5,6064,625,1,1,0,0,0,1,0,570.0,1,1,2015,7,31
2015-07-31,3,5,8314,821,1,1,0,0,0,1,0,14130.0,1,1,2015,7,31
2015-07-31,4,5,13995,1498,1,1,2,2,0,1,2,620.0,1,0,2015,7,31
2015-07-31,5,5,4822,559,1,1,0,0,0,1,0,29910.0,1,0,2015,7,31

In [19]:
dataset = dataset[['Year', 'Month', 'Day', 'DayOfWeek', 'Store', 'Customers', 'Open', 'Promo', 'StoreType', 'Assortment', 'StateHoliday', 'SchoolHoliday', 'StoreType.1', 'CompetitionDistance', 'Competition', 'Promo2', 'Sales']]
dataset.head()

,Year,Month,Day,DayOfWeek,Store,Customers,Open,Promo,StoreType,Assortment,StateHoliday,SchoolHoliday,StoreType.1,CompetitionDistance,Competition,Promo2,Sales
Date,,,,,,,,,,,,,,,,,
2015-07-31,2015,7,31,5,1,555,1,1,2,0,0,1,2,1270.0,1,0,5263
2015-07-31,2015,7,31,5,2,625,1,1,0,0,0,1,0,570.0,1,1,6064
2015-07-31,2015,7,31,5,3,821,1,1,0,0,0,1,0,14130.0,1,1,8314
2015-07-31,2015,7,31,5,4,1498,1,1,2,2,0,1,2,620.0,1,0,13995
2015-07-31,2015,7,31,5,5,559,1,1,0,0,0,1,0,29910.0,1,0,4822

In [20]:
# Initial correlation
corr_matrix = dataset.corr()
corr_matrix["Sales"].sort_values(ascending=False)

Sales                  1.000000
Customers              0.892547
Open                   0.678176
Promo                  0.456540
SchoolHoliday          0.090637
Assortment             0.081756
Month                  0.042630
Year                   0.012502
Store                  0.004295
Competition           -0.006555
StoreType.1           -0.009143
StoreType             -0.009143
CompetitionDistance   -0.015331
Day                   -0.020833
Promo2                -0.089948
StateHoliday          -0.222024
DayOfWeek             -0.469245
Name: Sales, dtype: float64

In [21]:
dataset.shape

(864627, 17)

In [34]:
#Split timeseries data into two

from sklearn.model_selection import TimeSeriesSplit
from matplotlib import pyplot
'''series = Series.dataset
X = series.values
splits = TimeSeriesSplit(n_splits=3)
pyplot.figure(1)
index = 1'''
tss = TimeSeriesSplit(n_splits = 3)
X = dataset.drop(labels=['Sales'], axis=1)
y = dataset['Sales']

for train_index, test_index in tss.split(X):
    X_train, X_test = X.iloc[train_index, :], X.iloc[test_index,:]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

In [35]:
X_train.shape

(648471, 16)