In [1]:
import pandas as pd
import sklearn
import numpy as np

In [2]:
data=pd.read_csv('cleaned_and_merged_data.csv')
data['Date']=pd.to_datetime(data['Date'])
#data = data.set_index('Date')

data.drop("Unnamed: 0", axis=1, inplace=True)
data.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StoreType,Assortment,StateHoliday,SchoolHoliday,StoreType.1,CompetitionDistance,Competition,Promo2
0,1,5,2015-07-31,5263,555,1,1,2,0,0,1,2,1270.0,1,0
1,2,5,2015-07-31,6064,625,1,1,0,0,0,1,0,570.0,1,1
2,3,5,2015-07-31,8314,821,1,1,0,0,0,1,0,14130.0,1,1
3,4,5,2015-07-31,13995,1498,1,1,2,2,0,1,2,620.0,1,0
4,5,5,2015-07-31,4822,559,1,1,0,0,0,1,0,29910.0,1,0

In [3]:
# add columns of day month and year as int
data['day'] = pd.DatetimeIndex(data['Date']).day
data['month'] = pd.DatetimeIndex(data['Date']).month
data['year'] = pd.DatetimeIndex(data['Date']).year

In [4]:
data['StateHoliday'].unique()

array([0, 1, 2, 3])

In [5]:
data.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StoreType,Assortment,StateHoliday,SchoolHoliday,StoreType.1,CompetitionDistance,Competition,Promo2,day,month,year
0,1,5,2015-07-31,5263,555,1,1,2,0,0,1,2,1270.0,1,0,31,7,2015
1,2,5,2015-07-31,6064,625,1,1,0,0,0,1,0,570.0,1,1,31,7,2015
2,3,5,2015-07-31,8314,821,1,1,0,0,0,1,0,14130.0,1,1,31,7,2015
3,4,5,2015-07-31,13995,1498,1,1,2,2,0,1,2,620.0,1,0,31,7,2015
4,5,5,2015-07-31,4822,559,1,1,0,0,0,1,0,29910.0,1,0,31,7,2015

In [34]:
data.isnull().any()

Store                  False
DayOfWeek              False
Date                   False
Sales                  False
Customers              False
Open                   False
Promo                  False
StoreType              False
Assortment             False
StateHoliday           False
SchoolHoliday          False
StoreType.1            False
CompetitionDistance    False
Competition            False
Promo2                 False
day                    False
month                  False
year                   False
dtype: bool

In [6]:
#split data frame to estimators X and labels Y
Y=data.Sales.to_frame()
X=data
X.drop('Sales',axis=1,inplace=True)
X.drop('Date',axis=1,inplace=True)

In [7]:
del data

In [8]:
data.head()

NameError: name 'data' is not defined

In [9]:
X=X.to_numpy()
Y=Y.to_numpy()

In [11]:
from sklearn.model_selection import KFold # import KFold


kf = KFold(n_splits=3, random_state=42) 
counter=0
for train_index, test_index in kf.split(X):
      print("Train:", train_index, "Validation:",test_index)
      X_train, X_test = X[train_index], X[test_index] 
      y_train, y_test = Y[train_index], Y[test_index]
      name='X_train_'+str(counter)  
      np.save(name, X_train)
      name='X_test_'+str(counter) 
      np.save(name, X_test)
      name='y_test_'+str(counter) 
      np.save(name, y_test)
      name='y_train'+str(counter)  
      np.save(name, y_train)
      counter+=1

Train: [288209 288210 288211 ... 864624 864625 864626] Validation: [     0      1      2 ... 288206 288207 288208]
Train: [     0      1      2 ... 864624 864625 864626] Validation: [288209 288210 288211 ... 576415 576416 576417]
Train: [     0      1      2 ... 576415 576416 576417] Validation: [576418 576419 576420 ... 864624 864625 864626]

In [55]:
from sklearn.model_selection import TimeSeriesSplit
tscv = TimeSeriesSplit(n_splits=3) 
TimeSeriesSplit(max_train_size=None, n_splits=3)
counter=0
for train_index, test_index in tscv.split(X):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    name='X_train_'+str(counter)  
    np.save(name, X_train)
    name='X_test_'+str(counter) 
    np.save(name, X_test)
    name='y_test_'+str(counter) 
    np.save(name, y_test)
    name='y_train'+str(counter)  
    np.save(name, y_train)
    counter+=1

TRAIN: [     0      1      2 ... 216156 216157 216158] TEST: [216159 216160 216161 ... 432312 432313 432314]
TRAIN: [     0      1      2 ... 432312 432313 432314] TEST: [432315 432316 432317 ... 648468 648469 648470]
TRAIN: [     0      1      2 ... 648468 648469 648470] TEST: [648471 648472 648473 ... 864624 864625 864626]

In [ ]:
kf