## Read cleaned data and prepare for training

In [14]:
import pandas as pd
import sklearn
import numpy as np
import matplotlib as plt

% matplotlib inline

#### droping redundant column and changing date to datetime

In [15]:
data=pd.read_csv('cleaned_and_normalized_training_set.csv')
#data['Date']=pd.to_datetime(data['Date'])
#data = data.set_index('Date')

data.drop("Unnamed: 0", axis=1, inplace=True)
data.head()

,Store,DayOfWeek,day,month,year,Sales,Customers,Open,Promo,SchoolHoliday,...,storeType_a,storeType_b,storeType_c,storeType_d,Assortment_a,Assortment_b,Assortment_c,public_holiday,easter,christmas
0,1,5,31,7,2015,5263,0.099708,1,1,1,...,0,0,1,0,1,0,0,0,0,0
1,2,5,31,7,2015,6064,0.112468,1,1,1,...,1,0,0,0,1,0,0,0,0,0
2,3,5,31,7,2015,8314,0.148195,1,1,1,...,1,0,0,0,1,0,0,0,0,0
3,4,5,31,7,2015,13995,0.271600,1,1,1,...,0,0,1,0,0,0,1,0,0,0
4,5,5,31,7,2015,4822,0.100437,1,1,1,...,1,0,0,0,1,0,0,0,0,0

#### adding column of year month and day as ints

In [10]:
#sanity check 
data.isnull().any()

Store                  False
DayOfWeek              False
day                    False
month                  False
year                   False
Sales                  False
Customers              False
Open                   False
Promo                  False
SchoolHoliday          False
CompetitionDistance    False
Competition            False
Promo2                 False
storeType_a            False
storeType_b            False
storeType_c            False
storeType_d            False
Assortment_a           False
Assortment_b           False
Assortment_c           False
public_holiday         False
easter                 False
christmas              False
dtype: bool

#### preparing x and Y for training and deleting data from memory saing x and Y

In [16]:
#split data frame to estimators X and labels Y
Y=data.Sales.to_frame()
X=data
X.drop('Sales',axis=1,inplace=True)
#X.drop('Date',axis=1,inplace=True)

In [25]:
df = pd.DataFrame(X.columns)
df.to_csv(r'columns.csv')

In [12]:
X=X.to_numpy()
Y=Y.to_numpy()
np.save('X_all',X)
np.save('Y_all',Y)

#### spliting data and saving splits to computer

In [13]:
from sklearn.model_selection import TimeSeriesSplit
tscv = TimeSeriesSplit(n_splits=3) 
TimeSeriesSplit(max_train_size=None, n_splits=3)
counter=0
for train_index, test_index in tscv.split(X):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    name='X_train_'+str(counter)  
    np.save(name, X_train)
    name='X_test_'+str(counter) 
    np.save(name, X_test)
    name='y_test_'+str(counter) 
    np.save(name, y_test)
    name='y_train'+str(counter)  
    np.save(name, y_train)
    counter+=1

TRAIN: [     0      1      2 ... 179657 179658 179659] TEST: [179660 179661 179662 ... 359316 359317 359318]
TRAIN: [     0      1      2 ... 359316 359317 359318] TEST: [359319 359320 359321 ... 538975 538976 538977]
TRAIN: [     0      1      2 ... 538975 538976 538977] TEST: [538978 538979 538980 ... 718634 718635 718636]

In [ ]:
Y.shape