## Read cleaned data and prepare for training

In [1]:
import pandas as pd
import sklearn
import numpy as np

#### droping redundant column and changing date to datetime

In [2]:
data=pd.read_csv('cleaned_training_set.csv')
#data['Date']=pd.to_datetime(data['Date'])
#data = data.set_index('Date')

data.drop("Unnamed: 0", axis=1, inplace=True)
data.head()

,Store,DayOfWeek,day,month,year,Sales,Customers,Open,Promo,SchoolHoliday,...,storeType_a,storeType_b,storeType_c,storeType_d,Assortment_a,Assortment_b,Assortment_c,public_holiday,easter,christmas
0,1,5,31,7,2015,5263,0.099708,1,1,1,...,0,0,1,0,1,0,0,0,0,0
1,2,5,31,7,2015,6064,0.112468,1,1,1,...,1,0,0,0,1,0,0,0,0,0
2,3,5,31,7,2015,8314,0.148195,1,1,1,...,1,0,0,0,1,0,0,0,0,0
3,4,5,31,7,2015,13995,0.271600,1,1,1,...,0,0,1,0,0,0,1,0,0,0
4,5,5,31,7,2015,4822,0.100437,1,1,1,...,1,0,0,0,1,0,0,0,0,0

#### adding column of year month and day as ints

In [ ]:
#sanity check 
data.isnull().any()

#### preparing x and Y for training and deleting data from memory saing x and Y

In [3]:
#split data frame to estimators X and labels Y
Y=data.Sales.to_frame()
X=data
X.drop('Sales',axis=1,inplace=True)
#X.drop('Date',axis=1,inplace=True)

In [7]:
pd.__version__

'0.24.2'

In [6]:
X=X.to_numpy()
Y=Y.to_numpy()
np.save('X_all',X)
np.save('Y_all',Y)

AttributeError: 'numpy.ndarray' object has no attribute 'to_numpy'

#### spliting data and saving splits to computer

In [ ]:
from sklearn.model_selection import TimeSeriesSplit
tscv = TimeSeriesSplit(n_splits=3) 
TimeSeriesSplit(max_train_size=None, n_splits=3)
counter=0
for train_index, test_index in tscv.split(X):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    name='X_train_'+str(counter)  
    np.save(name, X_train)
    name='X_test_'+str(counter) 
    np.save(name, X_test)
    name='y_test_'+str(counter) 
    np.save(name, y_test)
    name='y_train'+str(counter)  
    np.save(name, y_train)
    counter+=1

In [ ]:
Y.shape