In [1]:
import pandas as pd
import sklearn
import numpy as np

In [2]:
data=pd.read_csv('cleaned_data.csv')
data['Date']=pd.to_datetime(data['Date'])
#data = data.set_index('Date')
data.head()

/home/edith/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,2015-07-31,1,5,5263,555,1,1,0,1
1,2015-07-31,2,5,6064,625,1,1,0,1
2,2015-07-31,3,5,8314,821,1,1,0,1
3,2015-07-31,4,5,13995,1498,1,1,0,1
4,2015-07-31,5,5,4822,559,1,1,0,1

In [3]:
# add columns of day month and year as int
data['day'] = pd.DatetimeIndex(data['Date']).day
data['month'] = pd.DatetimeIndex(data['Date']).month
data['year'] = pd.DatetimeIndex(data['Date']).year

In [4]:
# in StateHoliday we have '0' 'a' 'b' 'c' and 0 change to include only 0 and ones
data['StateHoliday'].replace({'0':0, 'a':1, 'b':1,'c':1},inplace=True)

In [5]:
data['StateHoliday'].unique()

array([0, 1])

In [6]:
data.dtypes

Date             datetime64[ns]
Store                     int64
DayOfWeek                 int64
Sales                     int64
Customers                 int64
Open                      int64
Promo                     int64
StateHoliday              int64
SchoolHoliday             int64
day                       int64
month                     int64
year                      int64
dtype: object

In [7]:
#split data frame to estimators X and labels Y
Y=data.Sales.to_frame()
X=data
X.drop('Sales',axis=1,inplace=True)
X.drop('Date',axis=1,inplace=True)

In [8]:
X=X.to_numpy()
Y=Y.to_numpy()

In [9]:
type(X)

numpy.ndarray

In [ ]:
data.loc[data['Store']==119,'Sales'].plot()

In [ ]:
data.groupby(['Store']).median().loc[:,'Sales'].plot()

In [20]:
from sklearn.model_selection import train_test_split
                                              
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [18]:
y_train.reshape(len(y_train),)

array([   0,    0, 2606, ..., 8348, 7968, 9615])

In [23]:
y_train=y_train.reshape(-1)

In [25]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

/home/edith/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [ ]:
model = RandomForestClassifier(n_estimators=10, bootstrap = True,
                               max_features = 'sqrt')
# Fit on training data
model.fit(X_train, y_train)